/*.Colors {*/
/*  color: #42535C;*/
/*  color: #292B35;*/
/*  color: #57A5C3;*/
/*  color: #93BFBC;*/
/*  color: #E9EDF8;*/
/*}*/

.Header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Subheader {
  font-size: 14px;
  font-weight: 200;
  text-transform:capitalize;
}

.Feedback-Buttons{

}