.SideNav {
  height: 100%;
  background-color: #E9EDF8;

  position: fixed;

  border-color: black;
  border-width: 0 2px 0 0;
  border-style: solid;
  z-index: 1;

  width: 33%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;

}